# .env.example
# MongoDB Connection String (e.g., mongodb+srv://<user>:<password>@cluster.mongodb.net/dbname)
MONGODB_URI=

# JWT Secret for Authentication
JWT_SECRET=

# Gemini AI
GEMINI_API_KEY=
VITE_GEMINI_API_KEY=
